<div class="modal-header">
  <h5 class="modal-title" id="app-title">Login</h5>
</div>

<%= form_for('login', url: login_path, html: {id: 'login-form'})  do |form| %>
  <div class="modal-body">
    <%= flash_warning(notice) %>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="modal-footer">
    <%= link_to 'Forget password', forget_password_path %>
    <%= form.submit 'Login', class: "btn btn-primary" %>
  </div>
<% end %>