<% if @user %>
  <div class="modal-header">
    <h5 class="modal-title" id="app-title">Set new password</h5>
  </div>

  <%= form_for(@user, url: password_path(token: @user.reset_password_token), method: :post, html: {id: 'new-password-form'})  do |form| %>
    <div class="modal-body">
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :password %>
        <%= form.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label :password_confirmation %>
        <%= form.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>

    <div class="modal-footer">
      <%= form.submit 'Set Password', class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>